@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #3e3d3d;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* CSS approach */
.glow {
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
	}
	100% {
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
	}
}